{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mensajes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for mensaje in mensajes %}
    <article class="post">
        <div>
          <div class="about">Enviado por {{ mensaje['e.username'] }} el {{ mensaje['m.enviado'].strftime('%Y-%m-%d') }}</div>
        </div>
      <p class="body">{{ mensaje['mensaje'] }}</p>
        <div>
          <div class="about">Recibido por {{ mensaje['r.username'] }} el {{ mensaje['m.recibido'].strftime('%Y-%m-%d') }}</div>
        </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}