{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nuevo Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Titulo</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Post</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Guardar">
  </form>
{% endblock %}